<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/10/28 20:34:16</td>   <td>0</td> <td title="&lt;&lt;ProjectMethodsPOM.afterSuite()[pri:0, instance:testCase.TC001Login@5ce81285]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 20:33:18</td>   <td>-57321</td> <td title="&gt;&gt;ProjectMethodsPOM.beforeSuite()[pri:0, instance:testCase.TC001Login@5ce81285]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 20:33:59</td>   <td>-16481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002ClickCRMSFA.clickcrmsfa(java.lang.String, java.lang.String)[pri:0, instance:testCase.TC002ClickCRMSFA@78c03f1f]">clickcrmsfa</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 20:33:44</td>   <td>-31890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsPOM.closeApp()[pri:0, instance:testCase.TC001Login@5ce81285]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 20:34:12</td>   <td>-3677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsPOM.closeApp()[pri:0, instance:testCase.TC002ClickCRMSFA@78c03f1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 20:33:20</td>   <td>-55985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsPOM.login()[pri:0, instance:testCase.TC001Login@5ce81285]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 20:33:41</td>   <td>-34907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001Login.login(java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001Login@5ce81285]">login</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/28 20:33:44</td>   <td>-31193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsPOM.login()[pri:0, instance:testCase.TC002ClickCRMSFA@78c03f1f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 20:33:19</td>   <td>-57009</td> <td>&nbsp;</td><td title="&gt;&gt;TC001Login.setData()[pri:0, instance:testCase.TC001Login@5ce81285]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 20:33:19</td>   <td>-57009</td> <td>&nbsp;</td><td title="&gt;&gt;TC002ClickCRMSFA.setData()[pri:0, instance:testCase.TC002ClickCRMSFA@78c03f1f]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
</table>
